.App {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 50px;
  padding: 10px;
  color: white;
  background-color: #282c34;
}

.mask {
  background-color: rgba(175, 42, 30, 0.673);
  height: 155px;
  width: 155px;
  position: fixed;
  display: none;
  text-align: center;
  color: bisque;
  font-size: xx-large;
}
